* {
    border: none;
    border-radius: 0;
    /* font-family: Source Code Pro; */
    font-family: FiraCode Nerd Font; 
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /*background: #282828;*/
    background: #1e1e2e;
    /* background: transparent; */
    color: #dcdfe4;
    margin: 10px;
    padding: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    background: #282c34;
    color: #dcdfe4;
    border-right: 2px solid #1d2021;
}

#window, #network {
    padding: 0 20px;
    background: transparent;
    color: #c4c8c5;
    font-size: 12px;
}

#workspaces button.urgent {
    color: #e06c75;
}
#workspaces button.focused {
    color: #98c379;
    /*border-bottom: 2px solid #b8bb26;*/
}

#clock.1, #clock.2, #battery, #cpu, #memory, #backlight, #pulseaudio, #custom-mpd, #custom-playerctl, #tray, #mode, #idle_inhibitor, #custom-arch, #custom-media, #custom-network, #custom-power, #disk, #mode {
    padding: 0 10px;
    margin: 0 0px;
    background: #1e1e2e;
    color: #dcdfe4
    /*border-left: 2px solid #1d2021;*/
}

#disk {
    color: #b16286;
}

#cpu {
    color: #fabd2f;
}

#memory {
    color: #eba0ac;
}

#battery {
    color: #8ec07c;
}

#clock.2, #clock.1 {
    background: #45475a;
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network.disconnected {
    color: #fb4934;
}

#pulseaudio.muted {
    color: #fb4934;
}

#pulseaudio {
    color: #7f849c;
}

#custom-media { 
    color: #9399b2;
}

#tray {
    background-color: #181825;
}

#idle_inhibitor {
    background-color: #181825;
    padding: 0px 10px;
    border-left: 2px solid #1d2021;
}

#custom-power {
    background-color: #e06c75;
    padding: 0px 10px;
    border-left: 2px solid #1d2021;
}

#custom-arch {
    color: #6c7086;
    background: #1d2021;
    font-size: 22px;
    padding: 0px 10px;
}
#custom-gap {
    padding: 0px 1px;
}
